/************************

	Sidebar

*************************/

#sidebar-wrapper {
	background-color: white;
}

.sidebar-nav {
	margin-top: 50px;
}

.sidebar-nav li {
	margin-bottom: 10px;
	background-color: #e9ecef;
}

.sidebar-nav li a {
	color: black;
}

.sidebar-nav li a:hover {
	color: black;
}

#wrapper.toggled #page-content-wrapper {
	position: absolute;
	height: 100%;
	border: 1px solid #dee2e6;
	width: calc(100% - 250px);
}

/************************

	Home

*************************/

.home h1 {
	font-size: 72px;
}

.home h1 small {
	font-size: 28px;
    vertical-align: middle;
    margin-left: 15px;
}

.home .description {
	margin: 30px;
	border: 1px solid black;
	width: 50%;
	min-height: 250px;
	padding: 10px;
}

.home .description p {
	font-size: 18px;
}

.home .table-wrapper {
	margin-top: 60px;
}

.home .nav.nav-pills {
	margin-left: 30px;
}

.home .nav.nav-pills .nav-link {
	border-radius: 0px;
	background-color: #e9ecef;
	color: black;
	border: 1px solid #dee2e6;
	border-top-right-radius: 18px;
}

.home .nav.nav-pills .nav-item {
	position:relative;
}

.home .nav.nav-pills .nav-item:before {
    position:absolute; right:0px; top:0px; content:'';
    border-top: 42px solid white;
    border-left: 10px solid transparent;
}

.home .sortorder {
	float: right;
}

.home .sortorder:after {
 	content: '\25b2';
}
.home .sortorder.reverse:after {
 	content: '\25bc';
}