<div class="container-fluid home">
  <h1>{{header}} <small>{{subheader}}</small></h1>
  <div class="description">
    <p>{{textBody}}</p>
  </div>
  <div class="table-wrapper">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="" ng-click="toggleTab('entries')">{{tab.switch ? '*' : ''}}Entries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" ng-click="toggleTab('assets')">{{!tab.switch ? '*' : ''}}Assets</a>
      </li>
      <li class="tab">
      </li>
    </ul>
    <table class="table table-striped table-bordered" ng-show="tab.switch">
      <thead class="thead-light">
        <tr>
          <th scope="col" ng-click="predicate = 'title'; reverse=!reverse">Title <span class="sortorder" ng-show="predicate === 'title'" ng-class="{reverse: reverse}"></span></th>
          <th scope="col" ng-click="predicate = 'summary'; reverse=!reverse">Summary <span class="sortorder" ng-show="predicate === 'summary'" ng-class="{reverse: reverse}"></th>
          <th scope="col" ng-click="predicate = 'createdBy'; reverse=!reverse">Created By <span class="sortorder" ng-show="predicate === 'createdBy'" ng-class="{reverse: reverse}"></th>
          <th scope="col" ng-click="predicate = 'updatedBy'; reverse=!reverse">Updated By <span class="sortorder" ng-show="predicate === 'updatedBy'" ng-class="{reverse: reverse}"></th>
          <th scope="col" ng-click="predicate = 'updatedAt'; reverse=!reverse">Last updated <span class="sortorder" ng-show="predicate === 'updatedAt'" ng-class="{reverse: reverse}"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in entryRows | orderBy:predicate:reverse">
          <th scope="row">{{row.fields.title}}</th>
          <td>{{row.fields.summary}}</td>
          <td>{{getUser(row.sys.createdBy)}}</td>
          <td>{{getUser(row.sys.updatedBy)}}</td>
          <td>{{row.sys.updatedAt | date:'MM-dd-yyyy'}}</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-striped table-bordered" ng-hide="tab.switch">
      <thead class="thead-light">
        <tr>
          <th scope="col" ng-click="predicate = 'title'; reverse=!reverse">Title <span class="sortorder" ng-show="predicate === 'title'" ng-class="{reverse: reverse}"></span></th>
          <th scope="col" ng-click="predicate = 'contentType'; reverse=!reverse">Content Type <span class="sortorder" ng-show="predicate === 'contentType'" ng-class="{reverse: reverse}"></span></th>
          <th scope="col" ng-click="predicate = 'fileName'; reverse=!reverse">File Name <span class="sortorder" ng-show="predicate === 'fileName'" ng-class="{reverse: reverse}"></span></th>
          <th scope="col" ng-click="predicate = 'createdBy'; reverse=!reverse">Created By <span class="sortorder" ng-show="predicate === 'createdBy'" ng-class="{reverse: reverse}"></span></th>
          <th scope="col" ng-click="predicate = 'updatedBy'; reverse=!reverse">Updated By <span class="sortorder" ng-show="predicate === 'updatedBy'" ng-class="{reverse: reverse}"></span></th>
          <th scope="col" ng-click="predicate = 'updatedAt'; reverse=!reverse">Last updated <span class="sortorder" ng-show="predicate === 'updatedAt'" ng-class="{reverse: reverse}"></span></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in entryRows | orderBy:predicate:reverse">
          <th scope="row">{{row.fields.title}}</th>
          <td>{{row.fields.contentType}}</td>
          <td>{{row.fields.fileName}}</td>
          <td>{{getUser(row.sys.createdBy)}}</td>
          <td>{{getUser(row.sys.updatedBy)}}</td>
          <td>{{row.sys.updatedAt | date:'MM-dd-yyyy'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>